.Fixing-email-overloa {
  width: 76px;
  height: 60px;
  margin-bottom: 30px;
}
.Rectangle-5 {
  width: 0.5px;
  height: 150px;
}
.img-container {
    width: 80px;
    height: 60px;
    background-color: #d8d8d8 !important;
    background-color: var(--Gainsboro);
}
.Rectangle-16 {
    margin: auto;
    width: 600px;
    height: 100px;
    background-color: #eeedef !important;
    background-color: var(--white-lilac);
}
.headline-border {
  width: 200px;
  height: 10px;
  background-color: #0165a7 !important;
  background-color: var(--ocean-blue);
}
.rightRectangeBorder
{
    border-right: 0.5px dotted gray;
    height: 150px;
}
.Desktop-Layout {
    width: 600px;
    height: 512px;
    border: 1px solid #8080807a;
}
.big-img-container {
    width: 200px;
    height: 265.5px;
    background-color: #d8d8d8;
    position: relative;
    bottom: 53px;
}
.headline-content {
    left: -100px;
    padding-top: 10px;
    top: -17px;
    width: 200px;
    position: relative;
    height: 60px;
    background-color: #ffffff !important;
    background-color: var(--white);
}
.Ad-Blockers-Setback {
    width: 177.5px;
    font-size: 13px;
    display: block;
    padding-left: 13px;
    height: 43px;
    color: #0165a7;
    font-weight: bold;
}
.fontSizePara {
    font-size: 11px;
    display: inline-block;
}
.The-real-reasons-why {
    width: 76px;
    height: 72px;
    margin-bottom: 18px;
}

.How-Motherly-Uses-Pe {
    width: 80px;
    height: 60px;
    margin-bottom: 30px;
}
.textDivision {
    position: relative;
    top: 2px;
}


@media only screen and (max-width: 767px) {
.Rectangle-16 {
    display: none !important;
}
.big-img-container {
    width: 100%;
    bottom: 53px !important;

}
.bigTopContainer {
    padding: 0px !important;
}
.paraDetailsList {
    display: inline-block;
    width: 70%;
}
.headline-content {
    left: auto !important;
    padding-top: 10px;
    top: -194px !important;
    position: absolute;
    height: 60px;
    background-color: #ffffff !important;
    right: 0px !important;
}
.img-container {
    display: inline-block;
    width: 28%;
    float: right;
}
.Desktop-Layout {
    width: auto;
    height: auto;
    border: none;
    padding: 0px !important;
}
.rightRectangeBorder {
    height: auto;
}
.rightRectangeBorder {
    border-right: none;
}
.fontSizePara 
{
    font-size: 14px;
}
.paraDetailsList {
    display: inline-block !important;
    width: 66% !important;
    height: 72px !important;
    margin-bottom: auto !important;
    vertical-align: top !important;
}
.Rectangle-5 {
    padding: 0px 0px 18px 0px;
}
.borderHolderForDiv {
    border-bottom: 1px dotted #808080c7;
    padding-bottom: 4px;
}
#adBlockers.in{
    background: #4a4a4ad4;
}
.marginForCreateAlbumModal{
    width: 80%;
    margin: 40px auto;
    border-radius: 0px !important;
}
.marginNone{
    margin: 0px !important;
}
.headerHolder{
    background: #0165a7;
    color: white;
    padding: 0px 15px;
}
.lsHeaderFntSize{
    font-size: 18px;
}
.createAlbumTitle{
        font-size: 18px;
    text-align: -webkit-left;
    padding: 15px 18px 15px 0px;
}
.paddingForAdBlockersContent {
    padding: 10px 0px 25px;
    text-align: left;
    display: block;
}
.mediaAlbumForVideoHolder{
	display: block;
}
.bottomDescriptionRow {
    top: auto !important;
    width: 100% !important;
}
}
@media only screen and (max-width: 1024px) {    
.modalWidth
{
    width:auto !important;
}
#adBlockers.in{
    background: #4a4a4ad4;
}
.marginForCreateAlbumModal{
    width: 80%;
    margin: 40px auto;
    border-radius: 0px !important;
}
.marginNone{
    margin: 0px !important;
}
.headerHolder{
    background: #0165a7;
    color: white;
    padding: 0px 15px;
}
.lsHeaderFntSize{
    font-size: 18px;
}
.createAlbumTitle{
        font-size: 18px;
    text-align: -webkit-left;
    padding: 15px 18px 15px 0px;
}
.paddingForAdBlockersContent {
    padding: 10px 0px 25px;
    text-align: left;
    display: block;
}
.mediaAlbumForVideoHolder{
    display: block;
}
.Desktop-Layout {
    width: auto;
    height: auto;
    border: none;
}
.How-Motherly-Uses-Pe {
    margin-bottom: auto;
}
.paraDetailsList {
    display: inline-block;
    height: auto; !image-rendering: 
}
.Rectangle-16 {
    width: auto;
    height: 200px;
 }
.img-container {
    display: inline-block;
    float: right;
}
.paraDetailsList {
    width: 67%;
    vertical-align: top;
    display: inline-block;
}
.fontSizePara {
    font-size: 14px;
}
.rightRectangeBorder {
    border: none;
    }
.img-container {
    width: 25%;
    height: 57px;
 }   
.big-img-container {
    width: auto;
    height: 293.5px;
}
.big-img-container
  {
     bottom: auto;
  }
.background-Blockers-Setback {
    background: white;
}
.rightRectangeBorder
{
	height: auto;
}
.bottomDescriptionRow {
    top: -117px;
    width: 85%;
    margin: auto !important;
    position: relative;

}
.mediaAlbumForVideoHolder{		
	display: block !important;
}
.headline-content {
    bottom: 0px;
    right: auto;
    left: -263px;
    display: block;
    top: auto;
    position: absolute;
    float: left;
}
.bigTopContainer {
    padding: 0px !important;
}
.Rectangle-5 {
    padding: 16px 5px 2px 5px;
}
.borderHolderForDiv {
    border-bottom: 1px dotted #808080c7;
    padding-bottom: 16px;
}
}




@media only screen and (min-width: 767px) {
.mediaAlbumForVideoHolder{		
	display: none;
}
.modal-backdrop
{
	display: none;
}
}